@charset "UTF-8";
body {
  font-family: "lato", "Noto Sans JP", sans-serif;
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.5763546798vw;
  }
}
@media (min-width: 1015px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
a:hover, a:focus {
  opacity: 0.7;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.l-inner {
  max-width: 540px;
  max-width: 33.75rem;
  width: 100%;
  height: inherit;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .l-inner {
    max-width: 1095px;
    padding-right: 40px;
    padding-left: 40px;
  }
}

.c-arrow {
  width: 17px;
  width: 1.0625rem;
}

.c-footer-logo {
  width: 159px;
  width: 9.9375rem;
  fill: #ffffff;
}
@media screen and (min-width: 768px) {
  .c-footer-logo {
    width: 16.9375rem;
  }
}

.c-header-logo {
  width: 120px;
  width: 7.5rem;
  fill: #ffffff;
}
@media screen and (min-width: 768px) {
  .c-header-logo {
    width: 8.5rem;
  }
}

.c-logo-svg {
  display: none;
}

.c-mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-mobile-menu span {
  display: block;
  width: 20px;
  width: 1.25rem;
  height: 2px;
  height: 0.125rem;
  background-color: #ffffff;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.c-mobile-menu span:first-of-type {
  margin-bottom: 5px;
  margin-bottom: 0.3125rem;
}

.c-mobile-menu span:last-of-type {
  margin-top: 5px;
  margin-top: 0.3125rem;
}

/* --- ハンバガーメニュークリック後の付与される.is-open がついた時の挙動 --- */
.c-mobile-menu.is-open span {
  display: block;
  width: 25px;
  width: 1.5625rem;
  height: 2px;
  height: 0.125rem;
  background-color: #ffffff;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.c-mobile-menu.is-open span:first-of-type {
  margin-bottom: -2px;
  margin-bottom: -0.125rem;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.c-mobile-menu.is-open span:nth-of-type(2) {
  opacity: 0;
}

.c-mobile-menu.is-open span:last-of-type {
  margin-top: -2px;
  margin-top: -0.125rem;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.c-news {
  display: block;
}
@media screen and (min-width: 768px) {
  .c-news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 4rem;
    padding-left: 2.5rem;
    padding-right: 1.875rem;
    border: 1px solid #191919;
    background: linear-gradient(135deg, #182848 0%, #182848 16%, #ffffff 16%, #ffffff 88%, #182848 88%, #182848 100%);
  }
}

.c-news__heading {
  display: inline-block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  padding-top: 5px;
  padding-top: 0.3125rem;
  padding-bottom: 5px;
  padding-bottom: 0.3125rem;
  padding-left: 12px;
  padding-left: 0.75rem;
  padding-right: 21px;
  padding-right: 1.3125rem;
  color: #ffffff;
  background: linear-gradient(256deg, transparent 0%, transparent 10%, #182848 10%, #182848 100%);
}
@media screen and (min-width: 768px) {
  .c-news__heading {
    font-size: 1rem;
    padding: 0;
    background: none;
  }
}

.c-news__meta {
  background-color: #ffffff;
  border: 1px solid #191919;
  padding: 8px;
  padding: 0.5rem;
}
@media screen and (min-width: 375px) {
  .c-news__meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.875rem 0.5rem;
  }
}
@media screen and (min-width: 768px) {
  .c-news__meta {
    margin-left: 7.0625rem;
    padding: 0;
    border: none;
    background-color: transparent;
  }
}

.c-news__category {
  color: #ffffff;
  background-color: #b8614b;
  margin-left: 14px;
  margin-left: 0.875rem;
}
@media screen and (min-width: 375px) {
  .c-news__category {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .c-news__category {
    margin-left: 1.25rem;
  }
}

.c-news__time, .c-news__title {
  display: inline-block;
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1;
  color: #191919;
}
@media screen and (min-width: 768px) {
  .c-news__time, .c-news__title {
    font-size: 1rem;
  }
}

@media screen and (min-width: 375px) {
  .c-news__title {
    margin-left: 0.5rem;
  }
}
@media screen and (min-width: 768px) {
  .c-news__title {
    margin-left: 1.5rem;
    margin-right: 3rem;
  }
}

.c-news__icon {
  display: none;
}
@media screen and (min-width: 768px) {
  .c-news__icon {
    display: block;
    margin-left: auto;
  }
}

.c-tag {
  display: inline-block;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1;
  padding: 5px 8px;
  padding: 0.3125rem 0.5rem;
  border-radius: 0.625rem;
}

.p-header-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.p-header-nav__item {
  position: relative;
  text-align: center;
  height: inherit;
  margin-right: 20px;
  margin-right: 1.25rem;
}

.p-header-nav__item:not(:first-of-type)::before {
  position: absolute;
  top: 50%;
  left: -10px;
  left: -0.625rem;
  display: inline-block;
  content: "";
  width: 1px;
  width: 0.0625rem;
  height: 30px;
  height: 1.875rem;
  background-color: #ffffff;
  -webkit-transform: translateY(-50%) rotate(-140deg);
          transform: translateY(-50%) rotate(-140deg);
}

.p-header-nav__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: inherit;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  padding-left: 10px;
  padding-left: 0.625rem;
  padding-right: 10px;
  padding-right: 0.625rem;
}

.p-header-nav__item span {
  display: block;
  margin-top: 6px;
  margin-top: 0.375rem;
  font-size: 10px;
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
}

.p-header {
  background: -webkit-gradient(linear, left top, right top, from(#4b6cb7), to(#182848));
  background: linear-gradient(90deg, #4b6cb7, #182848);
  height: 57px;
  height: 3.5625rem;
}
@media screen and (min-width: 768px) {
  .p-header {
    height: 5rem;
  }
}

.p-header__logo {
  margin-right: 20px;
  margin-right: 1.25rem;
}

.p-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: inherit;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .p-header__inner {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}

.p-header__nav {
  display: none;
  height: inherit;
}
@media screen and (min-width: 768px) {
  .p-header__nav {
    display: block;
  }
}

.p-header__mobile-menu {
  height: inherit;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .p-header__mobile-menu {
    display: none;
  }
}

.p-top-mv {
  position: relative;
  height: 611px;
  height: 38.1875rem;
  background: -webkit-gradient(linear, left top, right top, from(#4b6cb7), to(#182848));
  background: linear-gradient(90deg, #4b6cb7, #182848);
  /* ---子要素のテキストより下層にしたいので0にする  --- */
  z-index: 0;
}
@media screen and (min-width: 768px) {
  .p-top-mv {
    height: 43rem;
  }
}

/* --- mvスライダー --- */
.swiper {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 375px;
  max-width: 23.4375rem;
  width: 100%;
  /* --- 同階層のテキストよりも下層にしたいので-1にする(positionを使っている為浮いているのでマイナスにする) --- */
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .swiper {
    max-width: 85.375rem;
  }
}

.swiper-slide img {
  max-width: none;
  width: auto;
  height: 611px;
  height: 38.1875rem;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .swiper-slide img {
    height: 43rem;
  }
}

/* --- --------------- --- */
/* --- mvテキスト --- */
.p-top-mv__text {
  padding-top: 107px;
  padding-top: 6.6875rem;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .p-top-mv__text {
    padding-top: 6.875rem;
  }
}

.p-top-mv__title {
  font-size: 48px;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.208;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-shadow: 3px 6px 4px rgba(24, 40, 72, .5);
}
@media screen and (min-width: 768px) {
  .p-top-mv__title {
    font-size: 6rem;
    line-height: 1.1666;
  }
}

.p-top-mv__sub-title {
  font-size: 17px;
  font-size: 1.0625rem;
  font-weight: 700;
  line-height: 1;
  color: #182848;
  margin-top: 12.8px;
  margin-top: 0.8rem;
}
@media screen and (min-width: 768px) {
  .p-top-mv__sub-title {
    font-size: 2rem;
    margin-top: 2.625rem;
  }
}

.p-top-mv__sub-text {
  position: relative;
  display: inline-block;
  background-color: #ffffff;
  -webkit-box-shadow: 4px 3px #182848;
          box-shadow: 4px 3px #182848;
  /* --- 枠を平行四辺形 --- */
  -webkit-transform: skewX(-27deg);
          transform: skewX(-27deg);
}
@media screen and (min-width: 375px) {
  .p-top-mv__sub-text {
    margin-left: 0.625rem;
  }
}
@media screen and (min-width: 768px) {
  .p-top-mv__sub-text {
    -webkit-box-shadow: 8px 6px #182848;
            box-shadow: 8px 6px #182848;
  }
}

.p-top-mv__sub-text:not(:first-of-type) {
  margin-top: 14px;
  margin-top: 0.875rem;
}
@media screen and (min-width: 768px) {
  .p-top-mv__sub-text:not(:first-of-type) {
    margin-top: 1rem;
  }
}

.p-top-mv__sub-text h3 {
  display: inline-block;
  padding: 9px;
  padding: 0.5625rem;
  /* ---テキストを枠と逆に傾けることで相殺し普通の角度にしている    --- */
  -webkit-transform: skewX(27deg);
          transform: skewX(27deg);
}
@media screen and (min-width: 768px) {
  .p-top-mv__sub-text h3 {
    padding: 0.35rem 1.875rem;
  }
}

.p-top-mv__news {
  margin-top: 65px;
  margin-top: 4.0625rem;
}
@media screen and (min-width: 375px) {
  .p-top-mv__news {
    margin-top: 8.375rem;
  }
}
@media screen and (min-width: 768px) {
  .p-top-mv__news {
    margin-top: 6.875rem;
  }
}

/* --- タブレットサイズでブロックになり改行する --- */
.u-block-tab {
  display: inline;
}
@media screen and (min-width: 768px) {
  .u-block-tab {
    display: block;
  }
}

@media screen and (min-width: 375px) {
  .u-hidden-mobile {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .u-hidden-tab {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .u-hidden-desktop {
    display: none;
  }
}

/* --- タブレット小サイズでインラインブロックになり改行させない --- */
.u-inline-sm-tab {
  display: block;
}
@media screen and (min-width: 375px) {
  .u-inline-sm-tab {
    display: inline;
  }
}

/* --- タブレットサイズでインラインブロックになり改行させない --- */
.u-inline-tab {
  display: block;
}
@media screen and (min-width: 768px) {
  .u-inline-tab {
    display: inline;
  }
}

/* --- タブレットサイズ大でインラインブロックになり改行させない --- */
.u-inline-tab-large {
  display: block;
}
@media screen and (min-width: 1024px) {
  .u-inline-tab-large {
    display: inline;
  }
}

/* --- スマホ時は非表示でタブレット以上だと表示される --- */
.u-show-tab {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-show-tab {
    display: block;
  }
}
/*# sourceMappingURL=styles.css.map */
