@charset "UTF-8";
body {
  font-family: "lato", "Noto Sans JP", sans-serif;
  /* --- ドロワーメニュー表示時背景スクロール禁止 --- */
}
body.is-open {
  overflow: hidden;
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.5763546798vw;
  }
}
@media (min-width: 1015px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
a:hover, a:focus {
  opacity: 0.7;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.l-about {
  margin-top: 120px;
  margin-top: 7.5rem;
}
@media screen and (min-width: 768px) {
  .l-about {
    margin-top: 10rem;
  }
}

.l-contact {
  margin-top: 120px;
  margin-top: 7.5rem;
}
@media screen and (min-width: 768px) {
  .l-contact {
    margin-top: 5rem;
  }
}

.l-inner {
  max-width: 540px;
  max-width: 33.75rem;
  width: 100%;
  height: inherit;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .l-inner {
    max-width: 1095px;
    padding-right: 40px;
    padding-left: 40px;
  }
}

.l-recruit {
  margin-top: 115px;
  margin-top: 7.1875rem;
}
@media screen and (min-width: 768px) {
  .l-recruit {
    margin-top: 10rem;
  }
}

.l-services {
  margin-top: 120px;
  margin-top: 7.5rem;
}
@media screen and (min-width: 768px) {
  .l-services {
    margin-top: 10rem;
  }
}

.l-works {
  margin-top: 120px;
  margin-top: 7.5rem;
}
@media screen and (min-width: 768px) {
  .l-works {
    margin-top: 9.8125rem;
  }
}

.c-arrow {
  display: inline-block;
  width: 17px;
  width: 1.0625rem;
}

.c-btn {
  width: 254px;
  width: 15.875rem;
  background-color: #3e5b9c;
  -webkit-box-shadow: 0 2px 4px rgba(24, 40, 70, .46);
          box-shadow: 0 2px 4px rgba(24, 40, 70, .46);
}

.c-btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  padding: 0.9375rem 0;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .c-btn a {
    font-size: 1rem;
    padding: 1.5625rem 0;
  }
}

.c-btn__icon {
  margin-left: 7.5px;
  margin-left: 0.46875rem;
}

.c-card {
  display: block;
}
@media screen and (min-width: 768px) {
  .c-card {
    -webkit-box-shadow: 0 0 10px rgba(25, 25, 25, .25);
            box-shadow: 0 0 10px rgba(25, 25, 25, .25);
  }
}

.c-card__img {
  position: relative;
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
}
@media screen and (min-width: 768px) {
  .c-card__img {
    margin: 0;
  }
}

.c-card__img::before {
  content: "";
  display: block;
  padding-top: 42.6666%;
}
@media screen and (min-width: 768px) {
  .c-card__img::before {
    padding-top: 50.847%;
  }
}

.c-card__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.c-card__index {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  padding: 20.4px 20.4px;
  padding: 1.275rem 1.275rem;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 0.02em;
  color: #ffffff;
  background-color: #182848;
}
@media screen and (min-width: 768px) {
  .c-card__index {
    top: -18px;
    left: -15px;
    bottom: auto;
    padding: 1.675rem 0.81875rem;
    font-size: 1.5rem;
  }
}

.c-card__body {
  margin-top: 24px;
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .c-card__body {
    margin-top: 0;
    padding: 1.805625rem 1.5rem;
    background-color: #ffffff;
  }
}

.c-card__title {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1;
  color: #b8614b;
}
@media screen and (min-width: 768px) {
  .c-card__title {
    font-size: 1.5rem;
  }
}

.c-card__text {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.02em;
  color: #191919;
  margin-top: 13px;
  margin-top: 0.8125rem;
}
@media screen and (min-width: 768px) {
  .c-card__text {
    font-size: 1rem;
    margin-top: 1.3125rem;
  }
}

@media screen and (min-width: 768px) {
  .c-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.c-cards__item:not(:first-of-type) {
  margin-top: 33px;
  margin-top: 2.0625rem;
}
@media screen and (min-width: 768px) {
  .c-cards__item:not(:first-of-type) {
    margin-top: 0;
  }
}

/* --- もしもカードが2つより増えた場合の余白(3~) --- */
@media screen and (min-width: 768px) {
  .c-cards__item:nth-of-type(n + 3) {
    margin-top: 4.375rem;
  }
}

@media screen and (min-width: 768px) {
  .c-cards__item:nth-of-type(odd) {
    margin-left: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .c-cards__item:nth-of-type(even) {
    margin-left: 3.94088%;
  }
}

@media screen and (min-width: 768px) {
  .c-cards__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 46.5024%;
            flex: 0 0 46.5024%;
  }
}

.c-copyright {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 10px;
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  padding-top: 16px;
  padding-top: 1rem;
  padding-bottom: 16px;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .c-copyright {
    font-size: 0.75rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.c-footer-logo {
  width: 159px;
  width: 9.9375rem;
  fill: #ffffff;
}
@media screen and (min-width: 768px) {
  .c-footer-logo {
    width: 16.9375rem;
  }
}

.c-header-logo {
  width: 120px;
  width: 7.5rem;
  fill: #ffffff;
}
@media screen and (min-width: 768px) {
  .c-header-logo {
    width: 8.5rem;
  }
}

/* --- スクロールしてMVを通り過ぎた時にヘッダーを固定して、ロゴ・テキスト・ハンバーガーメニューの色を黒に変更 --- */
.fixed .c-header-logo {
  fill: #191919;
}

.fixed.is-open .c-header-logo {
  fill: #ffffff;
}

/* --- 重機や工場アイコン --- */
.c-icon {
  width: 15px;
  width: 0.9375rem;
}
@media screen and (min-width: 768px) {
  .c-icon {
    width: 1.375rem;
  }
}

@media screen and (min-width: 768px) {
  .c-info-contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .c-info-contents__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30.7389%;
            flex: 0 0 30.7389%;
  }
}

/* --- 1列目:1番左の列(1) --- */
@media screen and (min-width: 768px) {
  .c-info-contents__item:nth-of-type(1) {
    margin-top: 5rem;
  }
}

/* --- 1列目:真ん中の列(2) --- */
@media screen and (min-width: 768px) {
  .c-info-contents__item:nth-of-type(2) {
    margin-top: 2.5rem;
    margin-left: 3.5467%;
  }
}

/* --- 1列目:1番右の列(3) --- */
@media screen and (min-width: 768px) {
  .c-info-contents__item:nth-of-type(3) {
    margin-left: 3.5467%;
  }
}

/* 要素が今後増えた時に対応できる様にしておく(複数行)
===================================================*/
/* --- 1番左の列:2行目以降(4,7~) --- */
@media screen and (min-width: 768px) {
  .c-info-contents__item:nth-of-type(3n + 4) {
    margin-top: 7.5rem;
  }
}

/* --- 真ん中の列:2行目以降(5,8~) --- */
@media screen and (min-width: 768px) {
  .c-info-contents__item:nth-of-type(3n + 5) {
    margin-top: 5rem;
    margin-left: 3.5467%;
  }
}

/* --- 1番右の列:2行目以降(6,9~) --- */
@media screen and (min-width: 768px) {
  .c-info-contents__item:nth-of-type(3n + 6) {
    margin-top: 2.5rem;
    margin-left: 3.5467%;
  }
}

.c-info {
  position: relative;
  display: block;
}

.c-info__img {
  position: relative;
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
}
@media screen and (min-width: 768px) {
  .c-info__img {
    margin-left: 0;
    margin-right: 0;
  }
}

.c-info__img::before {
  content: "";
  display: block;
  padding-top: 53.3333%;
  /* --- 画像に薄い黒いマスクを反映させる為 --- */
  background-color: rgba(0, 0, 0, .2);
}
@media screen and (min-width: 768px) {
  .c-info__img::before {
    padding-top: 76.932%;
  }
}

.c-info__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  /* --- 画像に薄い黒いマスクを反映させる為 --- */
  z-index: -1;
}

.c-info__link {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 15px;
  bottom: 0.9375rem;
  left: 0;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .c-info__link {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    bottom: auto;
    left: 3.5rem;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 16.5rem;
    padding: 1.25rem 1rem;
    background-color: rgba(102, 112, 133, .64);
  }
}

.c-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 335px;
  width: 20.9375rem;
  padding: 13.3px 24px;
  padding: 0.83125rem 1.5rem;
}
@media screen and (min-width: 768px) {
  .c-link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 20rem;
    padding: 1.5rem 0;
  }
}

@media screen and (min-width: 768px) {
  .c-link__icon {
    margin-right: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .c-link__arrow {
    margin-left: 1rem;
  }
}

.c-links {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .c-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.c-links__btn1 {
  background-color: #b8614b;
}
@media screen and (min-width: 768px) {
  .c-links__btn1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}

.c-links__btn2 {
  background-color: #191919;
  margin-top: 24px;
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .c-links__btn2 {
    margin-top: 0;
    margin-left: 5rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}

.c-logo-svg {
  display: none;
}

.c-mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-mobile-menu span {
  display: block;
  width: 20px;
  width: 1.25rem;
  height: 2px;
  height: 0.125rem;
  background-color: #ffffff;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.c-mobile-menu span:first-of-type {
  margin-bottom: 5px;
  margin-bottom: 0.3125rem;
}

.c-mobile-menu span:last-of-type {
  margin-top: 5px;
  margin-top: 0.3125rem;
}

/* --- ハンバガーメニュークリック後の付与される.is-open がついた時の挙動 --- */
.c-mobile-menu.is-open span {
  display: block;
  width: 25px;
  width: 1.5625rem;
  height: 2px;
  height: 0.125rem;
  background-color: #ffffff;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.c-mobile-menu.is-open span:first-of-type {
  margin-bottom: -2px;
  margin-bottom: -0.125rem;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.c-mobile-menu.is-open span:nth-of-type(2) {
  opacity: 0;
}

.c-mobile-menu.is-open span:last-of-type {
  margin-top: -2px;
  margin-top: -0.125rem;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

/* --- スクロールしてMVを通り過ぎた時にヘッダーを固定して、ロゴ・テキスト・ハンバーガーメニューの色を黒に変更 --- */
.fixed .c-mobile-menu span {
  background-color: #191919;
}

.fixed .c-mobile-menu.is-open span {
  background-color: #ffffff;
}

.c-news {
  display: block;
}
@media screen and (min-width: 768px) {
  .c-news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 4rem;
    padding-left: 2.5rem;
    padding-right: 1.875rem;
    border: 1px solid #191919;
    background: linear-gradient(131deg, #182848 0%, #182848 16.1%, #ffffff 16.1%, #ffffff 88.8%, #182848 88.8%, #182848 100%);
  }
}

.c-news__heading {
  display: inline-block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  padding-top: 3px;
  padding-top: 0.1875rem;
  padding-bottom: 5px;
  padding-bottom: 0.3125rem;
  padding-left: 12px;
  padding-left: 0.75rem;
  padding-right: 23px;
  padding-right: 1.4375rem;
  color: #ffffff;
  background: linear-gradient(243deg, transparent 0%, transparent 14%, #182848 14%, #182848 100%);
}
@media screen and (min-width: 768px) {
  .c-news__heading {
    font-size: 1rem;
    padding: 0;
    background: none;
  }
}

.c-news__meta {
  background-color: #ffffff;
  border: 1px solid #191919;
  padding: 8px;
  padding: 0.5rem;
}
@media screen and (min-width: 375px) {
  .c-news__meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.75rem 0.5rem;
  }
}
@media screen and (min-width: 768px) {
  .c-news__meta {
    margin-left: 7.0625rem;
    padding: 0;
    border: none;
    background-color: transparent;
  }
}

.c-news__category {
  color: #ffffff;
  background-color: #b8614b;
  margin-left: 10px;
  margin-left: 0.625rem;
}
@media screen and (min-width: 375px) {
  .c-news__category {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .c-news__category {
    margin-left: 1.25rem;
  }
}

.c-news__time,
.c-news__title {
  display: inline-block;
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1;
  color: #191919;
}
@media screen and (min-width: 768px) {
  .c-news__time,
.c-news__title {
    font-size: 1rem;
  }
}

.c-news__title {
  letter-spacing: 0.08em;
}
@media screen and (min-width: 375px) {
  .c-news__title {
    margin-left: 0.5rem;
  }
}
@media screen and (min-width: 768px) {
  .c-news__title {
    letter-spacing: 0;
    margin-left: 1.5rem;
    margin-right: 3rem;
  }
}

.c-news__icon {
  display: none;
}
@media screen and (min-width: 768px) {
  .c-news__icon {
    display: block;
    margin-left: auto;
  }
}

.c-section-description {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.02em;
  color: #191919;
}
@media screen and (min-width: 768px) {
  .c-section-description {
    font-size: 1rem;
  }
}

.c-section-heading {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.59;
  color: #191919;
}
@media screen and (min-width: 768px) {
  .c-section-heading {
    font-size: 2rem;
  }
}

.c-section-title__main {
  display: inline-block;
  font-size: 32px;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #191919;
}
@media screen and (min-width: 768px) {
  .c-section-title__main {
    font-size: 3rem;
  }
}

.c-section-title__sub {
  position: relative;
  display: inline-block;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1;
  padding-left: 29px;
  padding-left: 1.8125rem;
  color: #3e5b9c;
}
@media screen and (min-width: 768px) {
  .c-section-title__sub {
    font-size: 1.5rem;
    padding-left: 2.25rem;
  }
}

.c-section-title__sub::before {
  position: absolute;
  top: 9px;
  top: 0.5625rem;
  left: 2px;
  left: 0.125rem;
  display: inline-block;
  content: "";
  width: 23px;
  width: 1.4375rem;
  height: 1px;
  height: 0.0625rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #3e5b9c;
}
@media screen and (min-width: 768px) {
  .c-section-title__sub::before {
    width: 1.875rem;
    -webkit-transform: rotate(-50deg);
            transform: rotate(-50deg);
  }
}

.c-tag {
  display: inline-block;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1;
  padding: 5px 8px;
  padding: 0.3125rem 0.5rem;
  border-radius: 0.625rem;
}
@media screen and (min-width: 768px) {
  .c-tag {
    padding: 0.4375rem 1rem;
    border-radius: 0.3125rem;
  }
}

@media screen and (min-width: 768px) {
  .p-about {
    background-image: url(../images/common/bg-about.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

.p-about__img {
  position: relative;
  width: 100%;
}

.p-about__img::before {
  content: "";
  display: block;
  padding-top: 74.029%;
  /* --- タブレット以降は非表示 --- */
}
@media screen and (min-width: 768px) {
  .p-about__img::before {
    display: none;
  }
}

.p-about__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-about__body {
  margin-top: 36px;
  margin-top: 2.25rem;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .p-about__body {
    max-width: 31.5625rem;
    width: 100%;
    margin-top: 0;
    padding: 2.5rem 3.125rem 2.875rem;
  }
}

.p-about__description {
  margin-top: 17px;
  margin-top: 1.0625rem;
}
@media screen and (min-width: 768px) {
  .p-about__description {
    margin-top: 1.5rem;
    word-wrap: break-word;
    word-break: keep-all;
  }
}

.p-about__btn {
  margin-top: 29px;
  margin-top: 1.8125rem;
  margin-left: auto;
  margin-right: auto;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}
@media screen and (min-width: 768px) {
  .p-about__btn {
    margin-top: 2.3125rem;
    margin-left: 0;
    margin-right: 0;
    -webkit-font-feature-settings: initial;
            font-feature-settings: initial;
  }
}

/* --- コンポーネント上書き --- */
.p-about__btn a .c-btn__icon {
  margin-left: 23px;
  margin-left: 1.4375rem;
}

.p-about__pc-img {
  /* --- sp時非表示 --- */
  display: none;
}
@media screen and (min-width: 768px) {
  .p-about__pc-img {
    display: block;
    position: relative;
    width: 100%;
    margin-top: 2rem;
  }
}

.p-about__pc-img::before {
  content: "";
  display: block;
  padding-top: 29.4117%;
}

.p-about__pc-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-contact {
  background-image: url(../images/common/bg-contact.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 90.2px;
  padding-top: 5.6375rem;
  padding-bottom: 95.4px;
  padding-bottom: 5.9625rem;
}
@media screen and (min-width: 768px) {
  .p-contact {
    padding-top: 4.375rem;
    padding-bottom: 4.625rem;
  }
}

@media screen and (min-width: 768px) {
  .p-contact__title {
    text-align: center;
  }
}

/* --- お問い合わせのみセクションタイトルが白色 --- */
.p-contact__title .c-section-title__main,
.p-contact__title .c-section-title__sub {
  color: #ffffff;
}

.p-contact__title .c-section-title__sub::before {
  background-color: #ffffff;
}

.p-contact__description {
  margin-top: 19.2px;
  margin-top: 1.2rem;
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: 0.045em;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .p-contact__description {
    margin-top: 1.6875rem;
    text-align: center;
  }
}

.p-contact__links {
  margin-top: 24px;
  margin-top: 1.5rem;
  font-size: 14px;
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  .p-contact__links {
    margin-top: 2.875rem;
    font-size: 1rem;
  }
}

.p-drawer {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #3e5b9c;
  width: 100%;
  height: 100vh;
  padding-top: 57px;
  padding-top: 3.5625rem;
  padding-bottom: 120px;
  padding-bottom: 7.5rem;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  overflow: scroll;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
@media screen and (min-width: 768px) {
  .p-drawer {
    display: none;
  }
}

.p-drawer.is-open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.p-drawer__inner {
  margin-top: 56px;
  margin-top: 3.5rem;
  padding: 20px;
}

.p-drawer__item {
  display: block;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1;
  color: #191919;
  text-align: center;
}

.p-drawer__item:not(:first-of-type) {
  color: #ffffff;
  margin-top: 40px;
  margin-top: 2.5rem;
}

.p-drawer__item span {
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  margin-top: 2px;
  margin-top: 0.125rem;
}

.p-footer-info__logo {
  display: block;
}

.p-footer-info__items {
  margin-top: 15px;
  margin-top: 0.9375rem;
}
@media screen and (min-width: 768px) {
  .p-footer-info__items {
    margin-top: 2.0625rem;
  }
}

.p-footer-info__item {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .p-footer-info__item {
    font-size: 1rem;
    letter-spacing: 0.02em;
  }
}

.p-footer-info__item + .p-footer-info__item {
  margin-top: 16px;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .p-footer-info__item + .p-footer-info__item {
    margin-top: 1.375rem;
  }
}

@media screen and (min-width: 768px) {
  .p-footer-info__sub-item {
    display: block;
    margin-top: 1.3125rem;
  }
}

.p-footer-nav {
  color: #ffffff;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .p-footer-nav {
    font-size: 1rem;
    letter-spacing: 0.2em;
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
  }
}

.p-footer-nav__items:nth-of-type(2) {
  margin-top: 40px;
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .p-footer-nav__items:nth-of-type(2) {
    margin-top: 0;
    margin-left: 3.5rem;
  }
}

.p-footer-nav__item a {
  display: block;
  padding: 12px 0;
  padding: 0.75rem 0;
}
@media screen and (min-width: 768px) {
  .p-footer-nav__item a {
    padding: 0.875rem 0.675rem;
  }
}

/* --- タブレットサイズで最後のリンクのpadding-rightを0にしないと、インナー端にくっつかない --- */
@media screen and (min-width: 768px) {
  .p-footer-nav__items:nth-of-type(2) .p-footer-nav__item:last-of-type a {
    padding-right: 0;
  }
}

.p-footer__contents {
  background-color: #182848;
  padding-top: 28px;
  padding-top: 1.75rem;
  padding-bottom: 40px;
  padding-bottom: 2.5rem;
}
@media screen and (min-width: 768px) {
  .p-footer__contents {
    padding-top: 0;
    padding-bottom: 7.5rem;
  }
}

@media screen and (min-width: 768px) {
  .p-footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .p-footer__nav {
    margin-top: 10.8125rem;
  }
}

.p-footer__info {
  margin-top: 69px;
  margin-top: 4.3125rem;
}
@media screen and (min-width: 768px) {
  .p-footer__info {
    margin-top: 5.4375rem;
  }
}

.p-footer__copyright {
  background-color: #191919;
}

.p-header-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.p-header-nav__item {
  position: relative;
  height: inherit;
  color: #ffffff;
  text-align: center;
}

.p-header-nav__item:not(:first-of-type) {
  margin-left: 17px;
  margin-left: 1.0625rem;
}

/* --- ナビリンクの斜線 --- */
.p-header-nav__item:not(:first-of-type)::before {
  position: absolute;
  top: 50%;
  left: -10px;
  left: -0.625rem;
  display: inline-block;
  content: "";
  width: 1px;
  width: 0.0625rem;
  height: 32px;
  height: 2rem;
  background-color: #ffffff;
  -webkit-transform: translateY(-50%) rotate(-140deg);
          transform: translateY(-50%) rotate(-140deg);
}

.p-header-nav__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: inherit;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  padding-left: 10px;
  padding-left: 0.625rem;
  padding-right: 10px;
  padding-right: 0.625rem;
}

.p-header-nav__item:first-of-type a {
  padding-left: 5px;
  padding-left: 0.3125rem;
}

.p-header-nav__item span {
  display: block;
  margin-top: 6px;
  margin-top: 0.375rem;
  font-size: 10px;
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1;
}

/* --- スクロールしてMVを通り過ぎた時にヘッダーを固定して、ロゴ・テキスト・ハンバーガーメニューの色を黒に変更 --- */
.fixed .p-header-nav__item {
  color: #191919;
}

.fixed .p-header-nav__item:not(:first-of-type)::before {
  background-color: #191919;
}

.p-header {
  background: -webkit-gradient(linear, left top, right top, from(#4b6cb7), to(#182848));
  background: linear-gradient(90deg, #4b6cb7, #182848);
  height: 57px;
  height: 3.5625rem;
  z-index: 200;
}
@media screen and (min-width: 768px) {
  .p-header {
    height: 5rem;
  }
}

.p-header__logo {
  margin-right: 20px;
  margin-right: 1.25rem;
  z-index: 300;
}

.p-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: inherit;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .p-header__inner {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}

.p-header__nav {
  display: none;
  height: inherit;
}
@media screen and (min-width: 768px) {
  .p-header__nav {
    display: block;
  }
}

.p-header__mobile-menu {
  height: inherit;
  margin-left: auto;
  margin-right: -7px;
  margin-right: -0.4375rem;
  z-index: 300;
}
@media screen and (min-width: 768px) {
  .p-header__mobile-menu {
    display: none;
  }
}

/* --- スクロールしてMVを通り過ぎた時にヘッダーを固定して、ロゴ・テキスト・ハンバーガーメニューの色を黒に変更 --- */
.p-header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
}

.p-header.fixed.is-open {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  background: #3e5b9c;
}

@media screen and (min-width: 768px) {
  .p-recruit {
    padding-top: 4.3125rem;
  }
}

@media screen and (min-width: 768px) {
  .p-recruit__title {
    text-align: center;
  }
}

.p-recruit__items {
  margin-top: 27px;
  margin-top: 1.6875rem;
}
@media screen and (min-width: 768px) {
  .p-recruit__items {
    margin-top: 3.125rem;
  }
}

.p-recruit__btn {
  margin-top: 40px;
  margin-top: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .p-recruit__btn {
    margin-top: 4.0625rem;
  }
}

.p-services {
  position: relative;
  padding-bottom: 48px;
  padding-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .p-services {
    padding-top: 2.5rem;
    padding-bottom: 0;
  }
}

/* --- 背景2色 --- */
.p-services::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(115deg, #f0f0f0 0%, #f0f0f0 59.1%, #ffffff 59.1%, #ffffff 90.3%, #f0f0f0 92%, #f0f0f0 100%);
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .p-services::before {
    height: 90%;
    background: linear-gradient(131deg, #f0f0f0 0%, #f0f0f0 68.3%, #ffffff 68.3%, #ffffff 90%, #f0f0f0 90%, #f0f0f0 100%);
  }
}

.p-services__inner {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .p-services__inner {
    max-width: 1230px;
    margin-right: auto;
    padding-right: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media screen and (min-width: 1600px) {
  .p-services__inner {
    margin-left: auto;
  }
}

.p-services__img {
  position: relative;
  width: 100%;
}

.p-services__img::before {
  content: "";
  display: block;
  padding-top: 66.13%;
}
@media screen and (min-width: 768px) {
  .p-services__img::before {
    padding-top: 70.967%;
  }
}

.p-services__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-services__text {
  max-width: 540px;
  max-width: 33.75rem;
  margin-top: 34px;
  margin-top: 2.125rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .p-services__text {
    margin-top: -0.5rem;
    margin-left: 2.9375rem;
    padding: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 43.8%;
            flex: 0 0 43.8%;
  }
}

.p-services__heading {
  margin-top: 16px;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .p-services__heading {
    margin-top: 1.3125rem;
  }
}

.p-services__description {
  margin-top: 16px;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .p-services__description {
    margin-top: 0.75rem;
  }
}

.p-services__btn {
  margin-top: 29px;
  margin-top: 1.8125rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .p-services__btn {
    margin-top: 2.5625rem;
    margin-left: 0;
  }
}

.p-top-mv {
  position: relative;
  height: 611px;
  height: 38.1875rem;
  background: -webkit-gradient(linear, left top, right top, from(#4b6cb7), to(#182848));
  background: linear-gradient(90deg, #4b6cb7, #182848);
  /* ---子要素のテキストより下層にしたいので0にする  --- */
  z-index: 0;
}
@media screen and (min-width: 768px) {
  .p-top-mv {
    height: 43rem;
  }
}

/* --- mvスライダー --- */
.swiper {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 375px;
  max-width: 23.4375rem;
  width: 100%;
  /* --- 同階層のテキストよりも下層にしたいので-1にする(positionを使っている為浮いているのでマイナスにする) --- */
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .swiper {
    max-width: 85.375rem;
  }
}

.swiper-slide img {
  max-width: none;
  width: auto;
  height: 611px;
  height: 38.1875rem;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .swiper-slide img {
    height: 43rem;
  }
}

/* --- --------------- --- */
/* --- mvテキスト --- */
.p-top-mv__text {
  padding-top: 97px;
  padding-top: 6.0625rem;
  z-index: 2;
}

.p-top-mv__title {
  font-size: 48px;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.208;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-shadow: 3px 6px 4px rgba(24, 40, 72, .5);
}
@media screen and (min-width: 768px) {
  .p-top-mv__title {
    font-size: 6rem;
    line-height: 1.1666;
  }
}

.p-top-mv__sub-title {
  font-size: 17px;
  font-size: 1.0625rem;
  font-weight: 700;
  line-height: 1;
  color: #182848;
  margin-top: 23px;
  margin-top: 1.4375rem;
}
@media screen and (min-width: 768px) {
  .p-top-mv__sub-title {
    font-size: 1.6875rem;
  }
}

.p-top-mv__sub-text {
  position: relative;
  display: inline-block;
  background-color: #ffffff;
  -webkit-box-shadow: 4px 3px #182848;
          box-shadow: 4px 3px #182848;
  /* --- 枠を平行四辺形 --- */
  -webkit-transform: skewX(-27deg);
          transform: skewX(-27deg);
}
@media screen and (min-width: 375px) {
  .p-top-mv__sub-text {
    margin-left: 0.625rem;
  }
}
@media screen and (min-width: 768px) {
  .p-top-mv__sub-text {
    margin-left: 1.625rem;
    -webkit-box-shadow: 8px 6px #182848;
            box-shadow: 8px 6px #182848;
    -webkit-transform: skewX(-38deg);
            transform: skewX(-38deg);
  }
}

.p-top-mv__sub-text:not(:first-of-type) {
  margin-top: 11px;
  margin-top: 0.6875rem;
}
@media screen and (min-width: 768px) {
  .p-top-mv__sub-text:not(:first-of-type) {
    margin-top: 0.875rem;
  }
}

.p-top-mv__sub-text h3 {
  display: inline-block;
  padding: 9px 15px;
  padding: 0.5625rem 0.9375rem;
  /* ---テキストを枠と逆に傾けることで相殺し普通の角度にしている    --- */
  -webkit-transform: skewX(27deg);
          transform: skewX(27deg);
}
@media screen and (min-width: 768px) {
  .p-top-mv__sub-text h3 {
    padding: 1.0625rem 1.6875rem;
    -webkit-transform: skewX(38deg);
            transform: skewX(38deg);
  }
}

.p-top-mv__news {
  margin-top: 65px;
  margin-top: 4.0625rem;
}
@media screen and (min-width: 375px) {
  .p-top-mv__news {
    margin-top: 8.1875rem;
  }
}
@media screen and (min-width: 768px) {
  .p-top-mv__news {
    margin-top: 7.4375rem;
  }
}

.p-works {
  padding-top: 24px;
  padding-top: 1.5rem;
  padding-bottom: 40px;
  padding-bottom: 2.5rem;
  background: linear-gradient(115deg, #f0f0f0 0%, #f0f0f0 12.2%, #ffffff 12.2%, #ffffff 87.8%, #f0f0f0 87.8%, #f0f0f0 100%);
}
@media screen and (min-width: 768px) {
  .p-works {
    padding-top: 0;
    padding-bottom: 0;
    background: linear-gradient(-131deg, #f0f0f0 0%, #f0f0f0 17.3%, #ffffff 17.3%, #ffffff 82.5%, #f0f0f0 82.5%, #f0f0f0 100%);
  }
}

@media screen and (min-width: 768px) {
  .p-works__title {
    text-align: center;
  }
}

.p-works__heading {
  margin-top: 18px;
  margin-top: 1.125rem;
}
@media screen and (min-width: 768px) {
  .p-works__heading {
    text-align: center;
  }
}

.p-works__description {
  margin-top: 14.9px;
  margin-top: 0.93125rem;
}
@media screen and (min-width: 768px) {
  .p-works__description {
    margin-top: 1.4375rem;
    text-align: center;
  }
}

.p-works__cards {
  margin-top: 35px;
  margin-top: 2.1875rem;
}
@media screen and (min-width: 768px) {
  .p-works__cards {
    margin-top: 3.125rem;
  }
}

.p-works__btn {
  margin-top: 34px;
  margin-top: 2.125rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .p-works__btn {
    margin-top: 2.5rem;
  }
}

/* --- タブレットサイズでブロックになり改行する --- */
.u-block-tab {
  display: inline;
}
@media screen and (min-width: 768px) {
  .u-block-tab {
    display: block;
  }
}

@media screen and (min-width: 375px) {
  .u-hidden-mobile {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .u-hidden-tab {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .u-hidden-desktop {
    display: none;
  }
}

/* --- タブレット小サイズでインラインブロックになり改行させない --- */
.u-inline-sm-tab {
  display: block;
}
@media screen and (min-width: 375px) {
  .u-inline-sm-tab {
    display: inline;
  }
}

/* --- タブレットサイズでインラインブロックになり改行させない --- */
.u-inline-tab {
  display: block;
}
@media screen and (min-width: 768px) {
  .u-inline-tab {
    display: inline;
  }
}

/* --- タブレットサイズ大でインラインブロックになり改行させない --- */
.u-inline-tab-large {
  display: block;
}
@media screen and (min-width: 1024px) {
  .u-inline-tab-large {
    display: inline;
  }
}

/* --- pcサイズでインラインブロックになり改行させない --- */
.u-inline-pc {
  display: block;
}
@media screen and (min-width: 1366px) {
  .u-inline-pc {
    display: inline;
  }
}

/* --- スマホ時は非表示でタブレット以上だと表示される --- */
.u-show-tab {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-show-tab {
    display: block;
  }
}

/*******************************************
ローディング（画面読み込み用のscssファイル: Pace.jsのCSSファイルをカスタム）
*******************************************/
/* ---#global-container: body直下全てを囲んでいるボックス（ページ全体） --- */
/* --- ローディング完了後にbodyに付与されるクラス --- */
.pace-done #global-container {
  opacity: 1;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

/* --- ローディング中にbodyに付与されるクラス --- */
.pace-running #global-container {
  opacity: 0;
}

.pace-running {
  background: -webkit-gradient(linear, left top, right top, from(#4b6cb7), to(#182848));
  background: linear-gradient(90deg, #4b6cb7, #182848);
}

.pace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.pace .pace-progress {
  /* --- もともと付いているtranslate 3dを打ち消す --- */
  -webkit-transform: none !important;
          transform: none !important;
  text-align: center;
}

/* --- ローディングのパーセンテージ --- */
.pace .pace-progress:after {
  display: block;
  margin-top: 40px;
  margin-top: 2.5rem;
  content: attr(data-progress-text);
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 400;
  color: #f0f0f0;
}
@media screen and (min-width: 768px) {
  .pace .pace-progress:after {
    margin-top: 6.25rem;
    font-size: 3.125rem;
  }
}

.pace-progress-inner {
  background-image: url(../images/common/logo-w-2.svg);
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: contain;
  /* --- 画面幅によってサイズも可変するように  高さもvwだと画面幅で可変する--- */
  max-width: 800px;
  max-width: 50rem;
  width: 46vw;
  height: 10vw;
  -webkit-animation: loading-logo_scale 1s ease-out backwards;
          animation: loading-logo_scale 1s ease-out backwards;
}

.pace.pace-inactive {
  display: none;
}

@-webkit-keyframes loading-logo_scale {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px) scale(1.3);
            transform: translateY(-20px) scale(1.3);
  }
  40% {
    opacity: 0.7;
  }
  60%, 100% {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1.6);
            transform: translateY(0) scale(1.6);
  }
}

@keyframes loading-logo_scale {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px) scale(1.3);
            transform: translateY(-20px) scale(1.3);
  }
  40% {
    opacity: 0.7;
  }
  60%, 100% {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1.6);
            transform: translateY(0) scale(1.6);
  }
}
/* --- 外部ライブラリを上書きする用のファイルが入っているフォルダ --- */
/*# sourceMappingURL=styles.css.map */
