@use "global" as *;

.c-cards {
  @include mq("md") {
    display: flex;
    flex-wrap: wrap;
  }
}

.c-cards__item:not(:first-of-type) {
  margin-top: rem(33);
  @include mq("md") {
    margin-top: 0;
  }
}

/* --- もしもカードが2つより増えた場合の余白(3~) --- */
.c-cards__item:nth-of-type(n + 3) {
  @include mq("md") {
    margin-top: rem(70);
  }
}

.c-cards__item:nth-of-type(odd) {
  @include mq("md") {
    margin-left: rem(24);
  }
}
.c-cards__item:nth-of-type(even) {
  @include mq("md") {
    margin-left: 3.94088%;
  }
}

.c-cards__item {
  @include mq("md") {
    flex: 0 0 46.5024%;
  }
}