@use "global" as *;

.c-header-logo {
  width: rem(120);
  fill: $white;
  @include mq("md") {
    width: rem(136);
  }
}

/* --- スクロールしてMVを通り過ぎた時にヘッダーを固定して、ロゴ・テキスト・ハンバーガーメニューの色を黒に変更 --- */
.fixed .c-header-logo {
  fill: $black;
}
.fixed.is-open .c-header-logo {
  fill: $white;
}