@use "global" as *;

.c-news {
  display: block;
 @include mq("md") {
   display: flex;
   align-items: center;
   height: rem(64);
   padding-left: rem(40);
   padding-right: rem(30);
   border: 1px solid $black;
   background: linear-gradient(135deg, $navy 0%, $navy 16%, $white 16%, $white 88%, $navy 88%, $navy 100% );
 }
}

.c-news__heading {
  display: inline-block;
  font-size: rem(14);
  font-weight: $regular;
  line-height: 1;
  padding-top: rem(5);  
  padding-bottom: rem(5);
  padding-left: rem(12);
  padding-right: rem(21);
  color: $white;
  background: linear-gradient(256deg, transparent 0%, transparent 10%, $navy 10%, $navy 100%);

  @include mq("md") {
    font-size: rem(16);
    padding: 0;
    background: none;
  }
}

.c-news__meta {
  background-color: $white;
  border: 1px solid $black;
  padding: rem(8);

  @include mq("sm") {
    display: flex;
    align-items: center;
    padding: rem(14) rem(8);
  }

  @include mq("md") {
    margin-left: rem(113);
    padding: 0;
    border: none;
    background-color: transparent;
  }
}

.c-news__category {
  color: $white;
  background-color: $accent;
  margin-left: rem(14);
  
  @include mq("sm") {
    flex: 0 0 auto;
  }

  @include mq("md") {
    margin-left: rem(20);
  }
}

.c-news__time, .c-news__title {
  display: inline-block;
  font-size: rem(13);
  font-weight: $regular;
  line-height: 1;
  color: $black;
  @include mq("md") {
    font-size: rem(16);
  }
}

.c-news__title {
  @include mq("sm") {
    margin-left: rem(8);
  }
  @include mq("md") {
    margin-left: rem(24);
    margin-right: rem(48);
  }
}

.c-news__icon {
  display: none;
  @include mq("md") {
    display: block;
    margin-left: auto;
  }
}