@use "global" as *;

.c-section-description {
  font-size: rem(14);
  font-weight: $regular;
  line-height: 2;
  letter-spacing: 0.02em;
  color: $black;
  @include mq("md") {
    font-size: rem(16);
  }
}