@use "global" as *;

.p-header {
  background: linear-gradient(90deg, rgb(75, 108, 183) , rgb(24, 40, 72) );
  height: rem(57);
  z-index: $header_z-index;
  @include mq("md") {
    height: rem(80);
  }
}

.p-header__logo {
  display: block;
  margin-right: rem(20);
  z-index: $header-logo_z-index;
}

.p-header__inner {
  display: flex;
  align-items: center;
  width: 100%;
  height: inherit;
  padding-right: $padding-sp;
  padding-left: $padding-sp;
  margin-right: auto;
  margin-left: auto;
  @include mq("md") {
    padding-right: rem(40);
    padding-left: rem(40);
  }
}

.p-header__nav {
  display: none;
  height: inherit;
  @include mq("md") {
    display: block;
  }
}

.p-header__mobile-menu {
  height: inherit;
  margin-left: auto;
  margin-right: rem(-7);
  z-index: $mobile-menu_z-index;
  @include mq("md") {
    display: none;
  }
}

/* --- スクロールしてMVを通り過ぎた時にヘッダーを固定して、ロゴ・テキスト・ハンバーガーメニューの色を黒に変更 --- */
.p-header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $white;
}
.p-header.fixed.is-open {
  transition: $transition-duration ease-out;
  background: $main;
}
