@use "global" as *;

.p-header {
  background: linear-gradient(90deg, rgb(75, 108, 183) , rgb(24, 40, 72) );
  height: rem(57);
  @include mq("md") {
    height: rem(80);
  }
}
.p-header__logo {
  margin-right: rem(20);
}

.p-header__inner {
  display: flex;
  align-items: center;
  width: 100%;
  height: inherit;
  padding-right: $padding-sp;
  padding-left: $padding-sp;
  margin-right: auto;
  margin-left: auto;
  @include mq("md") {
    padding-right: rem(40);
    padding-left: rem(40);
  }
}

.p-header__nav {
  display: none;
  height: inherit;
  @include mq("md") {
    display: block;
  }
}

.p-header__mobile-menu {
  height: inherit;
  margin-left: auto;
  @include mq("md") {
    display: none;
  }
}