@use "global" as *;

.p-recruit {
  @include mq("md") {
    padding-top: rem(69);
  }
}

.p-recruit__title {
  @include mq("md") {
    text-align: center;
  }
}

.p-recruit__items {
  margin-top: rem(27);
  @include mq("md") {
    margin-top: rem(50);
  }
}

.p-recruit__btn {
  margin-top: rem(40);
  margin-left: auto;
  margin-right: auto;
  @include mq("md") {
    margin-top: rem(65);
  }
}