@use "global" as *;

.p-recruit {
  @include mq("md") {
    padding-top: rem(80);
    padding-bottom: rem(80);
  }
}

.p-recruit__title {
  @include mq("md") {
    text-align: center;
  }
}

.p-recruit__items {
  margin-top: rem(32);
  @include mq("md") {
    margin-top: rem(56);
  }
}

.p-recruit__btn {
  margin-top: rem(40);
  margin-left: auto;
  margin-right: auto;
  @include mq("md") {
    margin-top: rem(64);
  }
}